@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body{
    width: 700px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px #e8e8e8;
    padding:5px;
    background-color: white;
 }
 main{
    background-color: lightgray;
    width:100%;
 }
h1{
    text-align: center;
    font-family: "Abril Fatface";
    font-weight-absolute: 100000;
}
ul{
    text-align: center;
    margin:auto;
    padding:0px
}
li{
    display: inline-block;
    margin: auto;
    padding: 9px;
    font-size: small;
}
a{
    text-decoration: none;
}
h2{
    font-family: "Roboto Slab";
}
h5{
    color: red
}
main img{
    display: block;
    width:100%;
}
main>p{
    text-align:justify;
    margin-left:5px;
    margin-right:5px;
    font-family: "Source Sans Pro";
}
.more-articles img{
    display:block;
    width: 100%;
    margin: auto;
}
section{
    display: inline-block;
    width:46%;
    margin:0;
    padding: 10px;
}
.more-articles{
    text-align: center;
    margin: auto;
}
.threeArticles{
    display: inline-block;
    width:30%;
    margin:0;
    padding: 10px;
}
/*
.gridContainer{
    display:grid;
    gap:2px
}
.gridContainer img{
    display: block;
}
.gridItem1{
    grid-column: 1 / span 3;
    grid-row: 1;
}
.gridItem2{
    grid-column: 4 / span 3;
    grid-row: 1;
}
.gridItem3{
    grid-column: 1 / span 2;
    grid-row: 2;
}
.gridItem4{
    grid-column: 3 / span 2;
    grid-row: 2;
}
.gridItem5{
    grid-column: 5 / span 2;
    grid-row: 2;
}
*/
nav{
    background-color: white;
    position: sticky;
    top: 0px;
}